/* You can add global styles to this file, and also import other style files */
body {
  background:#000;
  color:#fff;
  font-family:'Helvetica Neue';
  overflow-x:hidden;
}

section {
  overflow: hidden;
  margin:40px;
}
.col-1-3 {
  width:33.3333%;
  float:left;
}
